:root{
    --color-header: #1c2230;
    --color-main: #4ec3d4;
    --color-main-hover: #8cdae4;
    --color-body: #181f2b;
    --color-comment: #21293c;
    --color-footer: #0c1524;
}
body{
    background-color: var(--color-body) !important;
}
nav{
    background-color: var(--color-header);
}
nav .nav-item .nav-link:hover{
    color: #cecece !important;
    text-decoration: underline;
}
header{
    background-color: var(--color-header);
    height: 1000px;
}
.btn-custom{
    background-color: var(--color-main) !important;
}
.btn-custom:hover{
    background-color: var(--color-main-hover) !important;
}
#services{
    margin-bottom: 100px;
}
#services .service-image{
    height: 80px;
}
#how-we-work{
    margin-bottom: 100px;
}
#how-we-work .btn{
    color: var(--color-main);
    border-bottom: 1px solid var(--color-main) !important;
}
#how-we-work .btn:hover{
    color: #fff;
    border-color: #fff !important;
}
#how-we-work .btn i{
    transform: translateY(20%);
}
#comments{
    margin-bottom: 100px;
}
#comments .col-lg-4>div{
    background-color: var(--color-comment);
}
#comments .col-lg-4 img{
    width: 25px;
    height: 25px;
}
#comments .container>img{
    transform: translate(7px, 7px);
}
#sign-up{
    transform: translateY(50%);
}
#sign-up>.container>div{
    background-color: var(--color-header);
}
footer{
    height: 500px;
    background-color: var(--color-footer);
    padding-top: 150px;
    font-size: 14px !important;
}
footer .col-lg-1 a:hover{
    color: #d6d6d6 !important;
}
footer .col-lg-2:last-child>a{
    width: 30px;
    height: 30px;
}
footer .col-lg-2:last-child>a:hover{
    color: var(--color-main) !important;
    border-color: var(--color-main) !important;
}
.form-control:focus{
    border-color: #8cdae4 !important;
    box-shadow: 0 0 0 .25rem rgba(140, 218, 228, .25)  !important;
}







@media (max-width: 767px) {
    header{
        height: 350px;
    }
    section#services{
        margin-top: 400px;
    }
    #comments{
        margin-bottom: 0;
    }
    #sign-up form .btn{
        width: 100%;
    }
    footer{
        height: 900px;
        padding-top: 165px;
    }
}
@media (min-width: 768px) and (max-width: 991px){
    footer{
        height: 600px;
    }
}
